.yourListDesign {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.gridMoviesContainer {
  width: 100%;
}

.gridMovies {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: flex-start;
}

.filmCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.filmCardContainerButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
button {
  transition: 0.3s;
}
button:hover {
  transition: 0.3s;
  text-decoration: underline;
}
